body{
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.content-box{
    flex-grow: 1;
    margin: 0 30px;
    text-align: center;
}

footer{
    color: #888888;
    background-color: #f4f4f4;
    border-top: 1px solid #f4f4f4;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait{
    width: 250px;
}

form {
    margin-bottom: 50px;
}

input{
    border: 1px solid #cccccc;
    padding: 10px 15px;
    width: 20%;
    font-size: 15px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 10px;
    font-size: 15px;
}

button:focus{ outline: none; }
input:focus{ outline: none; }